<mat-toolbar color="primary">
  <img src="https://img.freepik.com/vecteurs-libre/concept-logo-supermarche_23-2148474892.jpg?semt=ais_hybrid" alt="Logo" class="logo" />
  <span>Menu</span>
</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="/products">
    <mat-icon>store</mat-icon>
    Products
  </a>
  <a mat-list-item routerLink="/sales">
    <mat-icon>trending_up</mat-icon>
    Sales
  </a>
  <a mat-list-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </a>
</mat-nav-list>
